@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E9E9E9;
	background-image: url("pixelbackgrnd.png");
    text-align: center;
    color: #5b5b5b;
}

.post {
    position: relative;
    top: 55px;
    left: 10px;
    width: 800px;
    background-color: rgba(240, 228, 228, .6);
    padding:20px;
	padding-top: 10px;
	box-shadow: 5px 5px rgba(218, 137, 137, .3);
}
.post .t {
	font-size:25px;
	font-weight: 700;
	text-align: left;
	
}

.t a {
	text-decoration: none;
    color: #6A6A6A;
}

.t a:hover {
	color: #B7A6A7;
}

.post .content {
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-top: 15px;
}

.postContainer {
	
}

#header_bar {
    width: 90%;
    height: 30px;
    font-weight: 400;
	background-color: rgba(240, 228, 228, .6);
	box-shadow: 5px 5px rgba(218, 137, 137, .3);
	padding-bottom: 20px;
	padding-left: 20px;
    text-align: left;
    position:fixed;
    top: 0px;
	left: 0px;
    display: block;
}

#header_bar a {
    text-decoration: none;
    color: #6A6A6A;
	margin-right: 35px;
}

#header_bar a:hover {
    color: #B7A6A7;
}