@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(pixelbackgrnd.png);
	text-align:center;
}

headThing {
	font-size:24px;
	font-weight: 700;
}

#sidebarContainer {
	position: fixed;
	left: 10px;
	top: 10px;
	height: 100%;
	font-size: 16px;
}

.sidebarA {
	height: 400px;
	width: 250px;
	border: 1px dashed;
}

.sidebarB {
	height: 150px;
	left: 10px;
	width: 250px;
	border: 1px dashed;
	margin-top: 10px;
	
}

.post {
	position: relative;
	top: 50px;
	left: 270px;
	width: 600px;
	border: 1px dashed;
}
post:title {
	font-size:20px;
	font-weight: 700;
	text-align: center;	
}

post:content {
	font-size: 16px;
}
