@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(pixelbackgrnd.png);
	text-align:center;
}

.headThing {
	font-size:24px;
	font-weight: 700;
	width: 100%;
	height: 35px;
	border: 3px;
}

.sidebarA {
	height: 400px;
	width: 250px;
	border: 1px dashed;
}

.post {
	position: relative;
	top: 50px;
	left: 260px;
	width: 1000px;
	border: 1px dashed;
}
post .T {
	font-size:20px;
	font-weight: 700;
	text-align: center;	
}

post .content {
	font-size: 16px;
	font-weight: 400;
}

#topBar {
    width: 100%;
    height: 40px;
    font-weight: 400;
    background-color: #5b5b5b;
    color: #d8d8d8;
    text-align: right;
    position:fixed;
    top: -10px;
    padding-top: 40px;
    padding-right: 300px;
}

a:link {
    text-decoration: none;
}

#topBar .a:hover {
    color: white;
}