@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(pixelbackgrnd.png);
	text-align:center;
}

headThing {
	font-size:24px;
	font-weight: 700;
}

#sidebarContainer {
	position: fixed;
	left: 10px;
	top: 10px;
	height: 100%;
	font-size: 16px;
}

.sidebarA {
	height: 70%;
	width: 250px;
	border: 1px dashed;
}

.sidebarB {
	height: 20%;
	left: 10px;
	width: 250px;
	border: 1px dashed;
	
}

.postTitle {
	font-size:20px;
	font-weight: 700;
	text-align: center;	
}

.postContent {
	font-size: 16px;
	
	
}
