@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(pixelbackgrnd.png);
    text-align: center;
    color: #5b5b5b;
}

.headThing {
	font-size:24px;
	font-weight: 700;
	width: 100%;
	height: 35px;
    margin-top: 100px;
}

.heada {
    font-size: 24px;
    font-weight: 700;
}

.sidebarA {
    height: 400px;
    width: 250px;
    background-color: rgba(217, 217, 217, .5);
    position: fixed;
    top: 65px;
}

    .sidebarA a {
        color: #5b5b5b;
        text-decoration: none;
    }

    .sidebarA a:visited {
        color: #5b5b5b;
    }

.post {
    position: relative;
    top: 55px;
    left: 260px;
    width: 800px;
    background-color: rgba(217, 217, 217, .5);
    padding:20px, 10px;
}
.post .T {
	font-size:20px;
	font-weight: 700;
	text-align: center;	
}

.post .content {
	font-size: 16px;
	font-weight: 400;
}

#topBar {
    width: 100%;
    height: 40px;
    font-weight: 400;
    background-color: #5b5b5b;
    color: #d8d8d8;
    text-align: right;
    position:fixed;
    top: 0px;
    left: 0px;
    display: block;
    padding-bottom: 15px;
}

#topBar a {
    text-decoration: none;
    color: #d8d8d8;
}

#topBar a:hover {
    color: white;
}