@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(pixelbackgrnd.png);
	text-align:center;
}

.headThing {
	font-size:24px;
	font-weight: 700;
	width: 100%;
	height: 35px;
	border: 3px;
}

.sidebarA {
    height: 400px;
    width: 250px;
    background-color: rgba(242, 242, 242, .5);
    position: fixed;
    top: 60px;
}

.post {
    position: relative;
    top: 50px;
    left: 260px;
    width: 800px;
    background-color: rgba(242, 242, 242, .5);
}
post .T {
	font-size:20px;
	font-weight: 700;
	text-align: center;	
}

post .content {
	font-size: 16px;
	font-weight: 400;
}

#topBar {
    width: 100%;
    height: 40px;
    font-weight: 400;
    background-color: #5b5b5b;
    color: #d8d8d8;
    text-align: right;
    position:fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-right: 500px;
    display: block;
}

#topBar a {
    text-decoration: none;
    color: #d8d8d8;
}

#topBar a:hover {
    color: white;
}